[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipywidgets = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
joblib = "*"
flake8 = "*"
alpha-vantage = "*"

[requires]
python_version = "3.7"
